:root {
  --primary-color: #ad1fea;
  --secondary-color: #4661e6;
  --tertiary-color: #3a4374;

  --background-color: #ffffff;
  --surface-color: #f2f4ff;
  --surface-secondary-color: #f7f8fd;

  --on-primary-color: #3a4374;
  --on-secondary-color: #647196;
  --on-tertiary-color: #f49f85;
  --on-background-color: #62bcfa;

  --warning-color: #d73737;
}
