.container {
    position: absolute;
    top: 6.25rem;
    height: 100%;
    width: 80%;
    right: 0;
    background-color: #F7F8FD;
    padding: 2rem;
}

.user-actions {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}

.user-action-button {
    flex: 1;

    ::ng-deep button {
        width: 100%;
        background-color: #656ea3;

        &:hover {
            background-color: #7c8db0;
        }
    }

    &--logout {
        ::ng-deep button {
            background-color: #3a4374;

            &:hover {
                background-color: #656ea3;
            }
        }
    }
}