<div class="container" [@slideInOut]>
  @if (usersFacade.isAuthenticated()) {
    <div class="user-actions">
      <product-feedback-app-v2-button
        class="user-action-button"
        (click)="onProfileClick()"
      >
        Profile
      </product-feedback-app-v2-button>
      <product-feedback-app-v2-button
        class="user-action-button user-action-button--logout"
        (click)="onLogoutClick()"
      >
        Logout
      </product-feedback-app-v2-button>
    </div>
  }

  <product-feedback-app-v2-chiplist-tile
    [chipList]="chipList"
    (chipSelected)="chipSelected.emit($event)"
  >
  </product-feedback-app-v2-chiplist-tile>

  <product-feedback-app-v2-roadmap-tile></product-feedback-app-v2-roadmap-tile>
</div>
