@if (suggestion()) {
  <div class="suggestion-item__container">
    <product-feedback-app-v2-chip
      class="chip__upvote"
      [text]="suggestion()!.upvotes"
      (chipClick)="upVoteClick.emit(suggestion()!)"
      [showArrow]="true"
      [usePointer]="false"
    ></product-feedback-app-v2-chip>
    <a
      class="suggestion-item__content"
      [routerLink]="['/suggestion-detail', suggestion()?.id]"
    >
      <h2 class="suggestion-item__heading">
        {{ suggestion()!.title }}
      </h2>
      <p class="suggestion-item__text">{{ suggestion()!.description }}</p>
      <product-feedback-app-v2-chip
        class="category-chip"
        [text]="suggestion()!.category"
      ></product-feedback-app-v2-chip>
    </a>
    <product-feedback-app-v2-comment-icon
      class="comment__icon"
      [numberOfComments]="
        suggestion()!.commentCount ?? suggestion()!.comments?.length ?? 0
      "
    >
    </product-feedback-app-v2-comment-icon>
  </div>
}
