@if (suggestion) {
<div class="card__container">
  <div class="card__status">
    <p>{{ suggestion.status | titlecase }}</p>
  </div>

  <a class="card__heading" routerLink="/suggestion-detail/{{ suggestion.id }}"
    ><h3>{{ suggestion.title }}</h3></a
  >
  <p class="card__content">{{ suggestion.description }}</p>

  <product-feedback-app-v2-chip
    class="category-chip"
    [text]="suggestion.category"
    [usePointer]="false"
  ></product-feedback-app-v2-chip>

  <div class="card__bottom-row">
    <product-feedback-app-v2-chip
      class="upvote-chip"
      [text]="suggestion.upvotes"
      [showArrow]="true"
      (chipClick)="handleUpVoteClick(suggestion)"
    ></product-feedback-app-v2-chip>

    <product-feedback-app-v2-comment-icon
      [numberOfComments]="
        suggestion.commentCount ?? suggestion.comments?.length ?? 0
      "
    ></product-feedback-app-v2-comment-icon>
  </div>
</div>
}
